*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
body{
    font-family: 'Aboreto', cursive;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width : 40%;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}
#item{
    padding: 10px;
    font-size: 20px;
    width: 100%;
    border: none;
    outline: 0;
    border-radius: 5px;
    display: block; /*display inline is default in input field*/
    box-shadow: 2px 2px 10px #3498dbb6 ;
}
#to-do-box{
    list-style: none;
    margin-top: 20px;
}
#to-do-box>li{
    position: relative;
    background-color: #01253d;
    color: white;
    border-radius: 2px;
    padding: 5px;
    padding-right: 30px;
    text-align: justify;
    margin-top: 10px;
    user-select: none;
}
#to-do-box>li>i{
    position: absolute;
    right:10px;
    top: 10px;
}
.done{
    text-decoration: line-through;
    color: black;
    background-color: #3498dbb6!important;
}